* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #1e1e1e;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #00e676;
    /* Verde sucesso */
    margin-bottom: 10px;
}

.welcome-text {
    color: #a0a0a0;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #ff5252;
    /* Vermelho para sair */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ff1744;
}